{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data Mining</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dynamic Bar Crawl</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'barcrawl:index' %}">Main</a></li>
        <li><a href="{% url 'barcrawl:barcrawl' %}">Bar Crawl</a></li>
        <li><a href="{% url 'barcrawl:method' %}">Method</a></li>
        <li class="active"><a href="{% url 'barcrawl:about' %}">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
		<div class="jumbotron" style="margin: 50px;">
			<div class="row">
				<div class="col-sm-2">
					<img src="{% static "barcrawl/Michael.jpg" %}" class="img-responsive" alt="Michael" width="100" height="100">
				</div>
				<div class="col-sm-10">
					<h3>Michael Brown</h3>
					Michael is a senior at the University of Utah studying Computer Science with an emphasis in video game development.  He pretty much likes just about everything about computer science but loves writing confusing lines of python the most.  He developed the client-side of the website.
				</div>
			</div>
		</div>
		
		<div class="jumbotron" style="margin: 50px; ">
			<div class="row">
				<div class="col-sm-2">
					<img src="{% static "barcrawl/Josh.jpg" %}"  class="img-responsive" alt="Josh" width="100" height="100">
				</div>
				<div class="col-sm-10">
					<h3>Josh Dawson</h3>
					Josh is a senior at the University of Utah studying Computer Science with an emphasis in video game development.  He enjoys analyzing algorithms while walking on the beach.  He created this website using HTML and Bootstrap.
				</div>
			</div>
		</div>
		
		<div class="jumbotron" style="margin: 50px; ">
			<div class="row">
				<div class="col-sm-2">
					<img src="{% static "barcrawl/Greg.jpg" %}" class="img-responsive" alt="Greg" width="100" height="100">
				</div>
				<div class="col-sm-10">
					<h3>Greg Lewis</h3>
					Greg is a senior at the University of Utah studying Computer Science with an emphasis in video game development.  He specializes in Unity 3D development and Open GL.  He integrated our site with the Google maps API and developed an interactive 3D modeling program that was not used.
				</div>
			</div>
		</div>
</div>


</body>
</html>
