<!DOCTYPE html>

<html lang="en">
<head>
	<title>Data Mining</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% url 'barcrawl:dataminejs' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script>
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	<style type="text/css">
		#map-canvas{
			width: 500px;
			height: 400px;
		}
		#control{
			background: #fff;
			padding: 5px;
			font-size: 14px;
			font-family: Arial;
			border: 1px solid #ccc;
			box-shado: 0 2ps 2ps rgba(33, 33, 0.4);
			display: none;
		}
		#map-canvas{
			margin-right: 400px;
		}
		#panel{
			position: absolute;
			top: 5px;
			left: 50%;
			margin-left: -180px;
			z-index: 5;
			background-color: #fff;
			padding: 5px;
			border: 1px solid #999;
		}
		#directions-panel{
			height: 100%;
			float: right;
			width: 390px;
			overflow: auto;
		}
		@media print{
			#map-canvas{
				float: none;
				width: auto;
			}
			#directions-panel{
			float: none;
			width: auto;
			}
		}
	</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dynamic Bar Crawl</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'barcrawl:index' %}">Main</a></li>
        <li class="active"><a href="{% url 'barcrawl:barcrawl' %}">Bar Crawl</a></li>
        <li><a href="{% url 'barcrawl:method' %}">Method</a></li>
        <li><a href="{% url 'barcrawl:about' %}">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class = "container">
	<div class = "row">
		<div class="col-lg-12">
			<div class = "jumbotron" style = "background-color:#6699FF">
				<div role="form">
					<div class="form-group col-offset-6 centered">
						<!--<input type = "start" class+"form-control" id="start" placeholder="Enter Start Location">-->
						<div class = "col-sml-2">
						<strong>Start:</strong>
						</div>
						<div class = "col-sml-10">
						<select id="startLocation" onchange="calcRoute();">
                                                  {% for ian in namesAndAdd %}
                                                  <option value="{{ian.0}}">{{ian.2}}:{{ian.1}}</option>
                                                  {% endfor %}
						</select>
						</div>
						<div class="form-group">
							<!--<input type = "end" class+"form-control" id="end" placeholder="Enter End Location">-->
							<div class = "col-sml-2">
							<strong>End:</strong>
							</div>
							<div class = "col-sml-10">
							<select id="endLocation" onchange="calcRoute();">
                                                  {% for ian in namesAndAdd %}
                                                  <option value="{{ian.0}}">{{ian.2}}:{{ian.1}}</option>
                                                  {% endfor %}
							</select>
							</div>
						</div>
					</div>
					<!--<button class="btn btn-default" onclick="countUp();">Submit</button>-->
				</div>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-lg-7">
			<div class = "jumbotron" style = "background-color:#6699FF">
				<div id="map-canvas"></div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class = "jumbotron" style = "background-color:#FFFFFF">
				<!--List of bars here-->
				<div id="control">
				</div>
				<div id="directions-panel"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
