<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data Mining</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dynamic Bar Crawl</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Main</a></li>
		<li><a href="{% url 'barcrawl:barcrawl' %}">Bar Crawl</a></li>
		<li><a href="{% url 'barcrawl:method' %}">Method</a></li>
		<li><a href="{% url 'barcrawl:about' %}">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- othere stuff goes here -->

<div class="container">
  <div class="jumbotron">
    <h1>Drink with SCIENCE!</h1> 
    <p>Whether you’re painting the town red, or backpacking through America, we can help you find where you want to go.</p>
	<p>It’s easy, just select a start and end location and we'll give you a path to follow with all the popular watering holes.</p>
  </div>
</div>

</body>
</html>


