{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data Mining</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dynamic Bar Crawl</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'barcrawl:index' %}">Main</a></li>
		<li><a href="{% url 'barcrawl:barcrawl' %}">Bar Crawl</a></li>
		<li class="active"><a href="{% url 'barcrawl:method' %}">Method</a></li>
		<li><a href="{% url 'barcrawl:about' %}">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h2>Creating the Crawl</h2> 
    <p>The biggest challenge with this project was coming up with an algorithm that was both Data Mining oriented and was fast enough to work as a web application.</p>
	<p>Our first step was relatively straight forward.  We’re doing a bar crawl, so we’re not interested in any locations that aren’t bars or do not have bars within them.</p>
	<div class="col-lg-2">
	</div>
	<p><img src="{% static "barcrawl/Eliminate.png" %}" class="img-responsive" alt="Eliminate" width="700" height="300"></p>
	<p>Next, we needed to quickly eliminate locations that were not between our start and end location.  If you’re crawling from Salt Lake to Park City, for example, we don’t want you to make a stop off in Hong Kong.  We accomplish this by organizing the bar data into a KD tree and storing it on our server.</p>
	<div class="col-lg-2">
	</div>
	<p><img src="{% static "barcrawl/Tree.png" %}" class="img-responsive" alt="Tree" width="700" height="300"></p>
	<p>When two bars are selected, we calculate a center point between those two bars.  We then use the KD tree to quickly find all of the bars within the radius of that center point two either the start or end location.</p>
	<div class="col-lg-2">
	</div>
	<p><img src="{% static "barcrawl/toTree.png" %}" class="img-responsive" alt="toTree" width="700" height="300"></p>
	<p>The resulting points are then further downsized by finding all points within the ellipse defined by the two end points and a static height.  This allows the crawl path to deviate from a straight line path between the two end points.</p>
	<div class="col-lg-2">
	</div>
	<p><img src="{% static "barcrawl/Circle.png" %}" class="img-responsive" alt="Circle" width="700" height="300"></p>
	<p>We then rotate all the points so that the line between the two points lies along the x-axis.  This step allows us to divide our list of bars into vertical slices with minimal calculation.</p>
	<div class="col-lg-2">
	</div>
	<p><img src="{% static "barcrawl/Translate.png" %}" class="img-responsive" alt="Translate" width="700" height="300"></p>
	<p>A bar is then randomly chosen from each slice and added to a list, which is sent to the client when completed.  The client then sends the list to a Google map API, where it is made into a map.</p>
	<div class="col-lg-2">
	</div>
	<p><img src="{% static "barcrawl/map.png" %}" class="img-responsive" alt="map" width="700" height="300"></p>
	<p>Data provided by the Yelp Dataset Challenge.</p>
  </div>
</div>

</body>
</html>
