<head>
  <script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head> 
<p>

<button id="test-button" class="btn btn-mini btn-primary" type="button">Test</button>

<b id=path></b>

<script>
  $('#test-button').click(function() {
    $.get('{% url 'barcrawl:GetCrawl' %}', {beginning: '{{begid}}', end: '{{endid}}', k: '5'}, function(data) {
      $('#path').html(JSON.parse(data));
      $('#test-button').hide();
    });
  });
</script>

</p>
