<head>
  <script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head> 
<p>

{% if output.1 != 0 %}
  <ul>
    {% for c in output.0 %}
    <li> {{ c }} </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No Categories Found</p>
{% endif %}

<button id="test-button" class="btn btn-mini btn-primary" type="button">Test</button>

<b id=addresses></b>

<script>
  $('#test-button').click(function() {
    $.get('/barcrawl/GetAddresses/', {}, function(data) {
      $('#addresses').html(JSON.parse(data)[1]);
      $('#test-button').hide();
    });
  });
</script>

</p>
